* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile {
    background-color: #C77950;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 50px;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    Top: 100px;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}

.box4 {
    background-color: #8BC750;
    height: 100vh;
    width: 250px;
    z-index: auto(0);
    position: absolute;
    left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.image {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("ra.jpg");
    background-size: cover;
    position: relative;
    left: 25px;
}

.skill {
    position: relative;
    left: 20px;
}

.education {
    position: absolute;
    top: 260px;
    left: 300px;
}

.language {
    position: absolute;
    top: 360px;
    left: 300px;
}

.Careerobject {
    position: absolute;
    top: 420px;
    left: 300px;
}

.achivement {
    position: absolute;
    top: 540px;
    left: 300px;
}

.email-icon {}